.DetailCard {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    height: 600px;
    margin-top: 3%;

}


.DetailCardCont .breadcrumb {
    margin-left: 2%;
    display: flex;
    width: 51%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;}

.DetailCardCont .breadcrumb p {
    margin-left: 1%;
    margin-right: 1%;
    color: green;
}
.detail-img {
  
width: 50%;
display: flex;
justify-content: flex-end;
}
.detail-img img {
width: 70%;
}

.detail-info {
  
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
}


.detail-info h1 {
padding-top: 5px;
margin-top: 0;

}
.detail-info h2{
  color: red;
  font-size: 30px;
  margin-top: 7%;
}
.detail-info h4 {
 
    margin-bottom: 0;
}

.detail-info span {
    margin-bottom: 3%;
}

.addButton{
    height: 35px;
    width: 26%;
    background-color: #54B216;
    margin: 4% 0 5% ;
    border: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.623);
    color: white;
}

.returnButton{
    height: 35px;
    width: 37%;
    border: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
}
.returnButton:hover {
    background-color: rgba(95, 95, 95, 0.226);
}
.contador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-top: 2%;
    margin-bottom: 2%;
 }

 .contador button {
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: rgb(51, 51, 51);
    background-color: rgba(146, 146, 146, 0.096);
    border: transparent;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.623);

 }

 .contador button:hover {
    background-color:#54B216
 }