.LogoFooter{
width: auto;
height: 100px;
background-color: white;
border-radius: 120px;
}

.ContainterFooter{
    background-color: black;
    color: white;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
}
.contact{
    margin-left: 20px;
    justify-items: center;
    width: auto;
    display: flex;
    flex-flow: column;
    align-items: self-start;
}

.linksFooter{
    text-decoration:none;
    font-size: 15px;
    color:rgb(162, 162, 162);
}

.LogoHenry{
    width: 30px;
    height: 30px;
}

.MenuFooter{
    display: flex;
    justify-content: space-around;
}

.menuPages{
    margin-left: 20px;
    justify-items: center;
    width: auto;
    display: flex;
    flex-flow: column;
}

.linksMenu{
    text-decoration:none;
    font-size: 20px;
    color:white;
    width: 150px;
}
.linksMenu:hover{
    color:black;
    background-color: rgb(198, 198, 198);
}