.LogoFooter{
width: 100px;
height: 100px;
background-color: white;
border-radius: 120px;
}

.ContainterFooter{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.contact{
    margin-left: 20px;
    justify-items: center;
    height: 30px;
    width: auto;
    display: flex;
    flex-flow: row;
    gap: 4em;
    align-self: center;
}

.linksFooter{
    text-decoration:none;
    font-size: 30px;
    color:white;
}

.LogoHenry{
    width: 30px;
    height: 30px;

}