.containerHomeAdm{
    display: flex;
    flex-direction: row;
}
.listAdmContainerGeneral{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.listAdm{
    display: block;
    height: 40px;
    width: 140px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 100%;
}
.listAdm:hover{
    text-decoration: underline;
}

.listAdm2{
    color: red;
    display: block;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 100%;
}

.listAdm2:hover{
    text-decoration: underline;
}