/* ----- CARD CONTAINER ------ */

.CardContainer {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
margin:3% 0 3% 0;

}

.CardContainer a{
width: 15%; 
margin: 2%;
text-decoration: none;
}
/* ---- CATEGORY CARD  ------ */

.CategoryCard{
    border: transparent;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.247);
    padding: 5px;

}

.CategoryCard img { 
    width: 130px;
}
.CategoryCard h3 { 
    color: rgba(37, 32, 32, 0.616);
    font-weight: 500;
    font-size: 17px;
}



/* ---- PRODUCTS CARDS ----- */


.product {
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    padding:10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    color: black;
    height: 100%;
   
}

.product .addButton {
    width: 70%;
}

.product h3 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
    padding:0 10px 0 10px;
}
.product p {
    color: red;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 3px;
}
.product img {
    width: 130px;
  
}
