.contenedorProducts{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.imgProduct{
    width: 120px;
}

.productName{
    width: 70%;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: 4px black solid;
    width: 200px;
    height: 250px;
}