.ContainerNav{
    background-color: black;
    width: 100%;
    display:flex;
}

.LogoFoodLand{
    width: 80px;
    height: 80px;
    /* background-color: white;
    border-radius: 150px; */
    display: flex;
    float: left;
}

.iconsNav1{
    width: 50px;
    height: 50px;
}
.iconsNav2{
    width: 40px;
    height: 40px;
}

.ButtonNav{
    width: 80px;
    height: 80px;
    border-radius: 120px;
    background-color: black;
}


.ButtonsNav{
    float: right;
    margin-right:30px;
}

.LinkLogo{
    display: flex;
    flex:auto;
}